#Temporary files (ending with a ~)
*~
#HTML files: ignore them...
*.html
#... but not in the src/ directory
!src/**/*.html
#Templating module
src/template/diffiety.ml
src/template/diffiety.mli
#Generated OCaml files
src/template/*.[ao]
src/template/*.cm[iaox]
src/template/*.cmx[as]
build.exe
build.com
